# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Vim
*.swp

# Binaries
src/tegel

# Flex and Bison files
src/parser.cpp
src/parser.hpp
src/lexical.cpp

# Ignore the gh-pages
html/

# Automake / Autoconf files
Makefile
src/Makefile
